{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  {% block styles %}
  {% bootstrap_css %}
  {% endblock %}
</head>

<body>
  {% include "navbar.html" %}
  <div class="container">
    {% block content %}
    {% for img in image %}
    <img class='img-responsive' src='{{img.article_image.url}}' alt='img' style="width:250px; height:250px;"><br><br>
    <a href="{% url 'show' %}" >View more</a>
    {%empty%}
    <p>No img</p>
    {%endfor%}
    {% endblock %}
  </div>
</body>

</html>